name: Actualizar README con Lenguajes

on:
  schedule:
    - cron: '0 0 * * *' # Se ejecuta cada 24 horas
  workflow_dispatch: {}  # Permite ejecución manual

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el repositorio
        uses: actions/checkout@v3

      - name: Generar imagen de lenguajes más usados
        run: |
          rm -f languages.svg  # Elimina el archivo anterior si existe
          curl -o languages.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=vamlemat&show_icons=true&hide_border=true&count_private=true&theme=radical&token=${{ secrets.GH_PAT }}"

      - name: Commit & Push Changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "action@github.com"
          git fetch origin main  # Obtiene los últimos cambios remotos
          git reset --soft origin/main  # Sincroniza con el estado remoto sin perder cambios locales
          git add languages.svg
          git commit -m "Actualización automática de lenguajes más usados" || echo "No hay cambios para hacer commit"
          git push origin HEAD:main --force
